
.cache{ /*Espace permettant de masquer l'arrière plan*/
	position :  fixed;
	top : 0;
	left : 0;
	bottom : 0;
	right : 0;
	cursor : not-allowed;
	background-color : #433333;
	opacity : 0.6;
	z-index : 1;
	box-shadow : inset 0px 0px 75px 10px #a5c6cf;
	margin : 0;
	padding : 0;
	max-width : 100% !important;
	max-height : 100% !important;
	z-index : 10001;
}
.cache~*{
	z-index : 10002 !important;
}

/*
 * Gestion des rotations d'images
 */
img.orientation1{
}

img.orientation2{
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	transform: scaleX(-1);
}

img.orientation3{
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

img.orientation4{
	-moz-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	-ms-transform: scaleY(-1);
	transform: scaleY(-1);
}

img.orientation5{
	-moz-transform: rotate(90deg) scaleX(-1);
	-webkit-transform: rotate(90deg) scaleX(-1);
	-o-transform: rotate(90deg) scaleX(-1);
	-ms-transform: rotate(90deg) scaleX(-1);
	transform: rotate(90deg) scaleX(-1);
}

img.orientation6{
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

img.orientation7{
	-moz-transform: scaleX(-1) rotate(90deg);
	-webkit-transform: scaleX(-1) rotate(90deg);
	-o-transform: scaleX(-1) rotate(90deg);
	-ms-transform: scaleX(-1) rotate(90deg);
	transform: scaleX(-1) rotate(90deg);
}

img.orientation8{
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}