/* mise en forme pour le texte*/
.information{
	display:block;
	background-color: rgba(150,250,150,0.6);
	padding : 0.5em;
	
	background-image: -ms-linear-gradient(top, rgba(250,250,250,0.6) 20%, rgba(250,250,250,0));
	background-image: -moz-linear-gradient(top, rgba(250,250,250,0.6) 20%, rgba(250,250,250,0));
	background-image: -o-linear-gradient(top, rgba(250,250,250,0.6) 20%, rgba(250,250,250,0));
	background-image: -webkit-linear-gradient(top, rgba(250,250,250,0.6) 20%, rgba(250,250,250,0));
	background-image: linear-gradient(top, rgba(250,250,250,0.6) 20%, rgba(250,250,250,0));
}
.warning{
	display:block;
	background-color: rgba(240,210,100,0.6);
	padding : 0.5em;
	
	background-image: -ms-linear-gradient(top, rgba(250,250,250,0.6) 20%, rgba(250,250,250,0));
	background-image: -moz-linear-gradient(top, rgba(250,250,250,0.6) 20%, rgba(250,250,250,0));
	background-image: -o-linear-gradient(top, rgba(250,250,250,0.6) 20%, rgba(250,250,250,0));
	background-image: -webkit-linear-gradient(top, rgba(250,250,250,0.6) 20%, rgba(250,250,250,0));
	background-image: linear-gradient(top, rgba(250,250,250,0.6) 20%, rgba(250,250,250,0));
}
.attention{
	display:block;
	background-color: rgba(250,150,150,0.6);
	padding : 0.5em;
	
	background-image: -ms-linear-gradient(top, rgba(250,250,250,0.6) 20%, rgba(250,250,250,0));
	background-image: -moz-linear-gradient(top, rgba(250,250,250,0.6) 20%, rgba(250,250,250,0));
	background-image: -o-linear-gradient(top, rgba(250,250,250,0.6) 20%, rgba(250,250,250,0));
	background-image: -webkit-linear-gradient(top, rgba(250,250,250,0.6) 20%, rgba(250,250,250,0));
	background-image: linear-gradient(top, rgba(250,250,250,0.6) 20%, rgba(250,250,250,0));
}
.question{
	display:block;
	background-color: rgba(150,150,250,0.6);
	padding : 0.5em;
	
	background-image: -ms-linear-gradient(top, rgba(250,250,250,0.6) 20%, rgba(250,250,250,0));
	background-image: -moz-linear-gradient(top, rgba(250,250,250,0.6) 20%, rgba(250,250,250,0));
	background-image: -o-linear-gradient(top, rgba(250,250,250,0.6) 20%, rgba(250,250,250,0));
	background-image: -webkit-linear-gradient(top, rgba(250,250,250,0.6) 20%, rgba(250,250,250,0));
	background-image: linear-gradient(top, rgba(250,250,250,0.6) 20%, rgba(250,250,250,0));
}
.filename{
	font-family: monospace;
	font-size : 0.95em;
}
.exemple{
	font-style: italic;
	font-size : 0.95em;
}
.humour{
	font-size: smaller;
}

h3,h4,h5{
	margin-top:2.5em;
}

em{
	font-size : 1.2em;
	font-weight : 800;
}

body{
	background-image : url('../../ressources/fond_bleu.png');
}

article{
	margin-left: 2em;
	margin-right: 2em;
	text-align : justify;
	font-family : sans-serif;
}
p{
	margin-left: 1.5em;
	margin-right: 1em;
}


details{
	border : 1px solid black;
	background-color: rgba(220,220,220,0.5);
	display: block;
	margin-bottom : 0.5em;
}
summary{
	cursor:pointer;
}
/*fallback pourles navigateur ne sachant pas gérer les balises details/summary*/
summary.detailsClosed~*{
	display:none;
}
summary.detailsClosed:before{
	content:"▸ ";
}
summary.detailsOpen:before{
	content:"▾ ";
}


/*Lien courant du chapitre*/
.current{
	padding: 0.25em;
	margin-top: 0.5em;
	background-color: rgba(247,230,83,0.9);
}

/*liens suivant/precedent dans le footer*/
.lienPrecedent{
	float : left;
}
.lienPrecedent:before{
	content : "↩\a0";
}

.lienSuivant{
	float : right;
}
.lienSuivant:after{
	content : "\a0↪";
}


/*affichage des listes*/
section ol{
	list-style-type: none;
}
section ol>li:before{
	content : "☞\a0";
}


/*affichage des listes dans le menu*/
nav>ol{
	list-style-type: upper-roman;
	font-size : x-large;
}
nav>ol ol{
	font-size : smaller;
	list-style-type: lower-roman;
}
nav>ol ol ol{
	list-style-type: decimal;
}
nav>ol ol ol ol{
	list-style-type: lower-alpha;
}




/*Mise en forme pour les codes JS*/
.miniCodeJS,.minicodeJS,.minicodejs{
	display:inline;
	font-family:courier,monospace;
	font-size:0.8em;
}
.codeJS,.codejs{
	display:block;
	font-family:courier,monospace;
	font-size:0.9em;
	background-color: rgba(220,220,200,0.6);
	border: 1px solid rgba(120,120,0,0.9);
	overflow:auto;
	width:90%;
	text-align:left;
	margin-left: auto;
	margin-right: auto;

	background-image: -ms-linear-gradient(top, rgba(250,250,250,0.6) 20%, rgba(250,250,250,0));
	background-image: -moz-linear-gradient(top, rgba(250,250,250,0.6) 20%, rgba(250,250,250,0));
	background-image: -o-linear-gradient(top, rgba(250,250,250,0.6) 20%, rgba(250,250,250,0));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.05) 20%, rgba(250,250,250,0));
	background-image: linear-gradient(top, rgba(250,250,250,0.6) 20%, rgba(250,250,250,0));
}

.boolean{
	color:#0000FF;
}
.number{
	color:#CCAA00;
}
.regexp{
	color:#FF0000;
}
.regexpFlag{
	color:#FF00CC;
	font-style:italic;
}
.string1{
	color:#CC8833;
}
.string2{
	color:#CC4933;
}
.null{
	color:#0000CC;
	font-style:italic;
}
.operator{
	color:#443349;
	font-weight:bold;
}
.comment1{
	color:#339933;
	font-style:italic;
	font-size:0.85em;
}
.comment2{
	color:#008855;
	font-style:italic;
	font-size:0.8em;
}
.comment3{
	color:#9999CC;
	font-style:italic;
	font-size:0.85em;
}
.reservedWord{
	color:#001177;
	font-weight:bold;
}
.futureReservedWord{
	color:#AA0099;
	font-weight:bold;
}
.commonMethod{
	font-style:italic;
}
.commonObject{
	font-weight:bold;
}
.useStrict{
	color:#00EEFF;
	font-style:italic;
}

